:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: rgb(254, 136, 10);
  margin-right: 5px;
}

a:hover {
  color: rgb(191, 104, 10);
  text-decoration: underline;
}

body, #root {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 2px rgb(254, 136, 10);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}

.header > button {
  padding: 2px 10px;
  background: rgb(254, 136, 10);
  color: white;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  border: solid 2px rgb(254, 136, 10);
  cursor: pointer;
  font-size: 14px;
}

button.stop {
  background: rgb(223, 46, 46);
  border-color: rgb(223, 46, 46);
}

.header > button:hover {
  border-color: white;
}

.grow {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 2px;
  max-height: calc(100vh - 50px);
  overflow: hidden;
  box-sizing: border-box;
}

.content > .body {
  flex-grow: 5;
  min-width: 400px;
  max-height: 745px;
}

.content > .details {
  min-width: 250px;
  flex-basis: 300px;
  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.details > .region {
  width: 100%;
  float: left;
  background: rgb(43, 43, 43);
  margin-bottom: 5px;
  border-bottom: solid 2px rgb(139, 139, 139);
  padding: 5px;
}

.details > .region.active {
  background: rgb(71, 58, 46);
}

.details > .region.selected {
  background: rgb(58, 66, 113);
}

.details > .region.best {
  background: rgb(46, 71, 49);
}

.region > .title {
  font-weight: bold;
}

.region > .data {
  font-size: 14px;
}

.attribute > span {
  font-weight: bold;
  color: rgb(148, 148, 148);
}